/* Top-right navigation buttons (over map) */
* {
   font-family: Roboto, Sans-serif;
}
.topNav {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  gap: 8px;
  z-index: 2200;
}
.topNav .navBtn {
  display: inline-block;
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.90);
  padding: 6px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
}
.topNav .navBtn:hover {
  background: rgba(218, 34, 34, 0.95);
  border: 2px solid rgba(218, 34, 34, 0.95);
  color: #fff;
  transition: 0.2s;
}

.topNav .navBtn.active {
  background: rgba(218, 34, 34, 0.95);
  border: 2px solid rgba(218, 34, 34, 0.95);
  color: #fff;
  font-weight: bold;
  pointer-events: none;
  transition: 0.2s;
}
